*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  
}
.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;

}

.app_postsRight {
    margin: 20px;
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
margin-bottom: 2px;
 
}
.app_headerImage{
  width: 80px;
  object-fit: contain;
}
 
.app_signup  {
 display: flex;
 flex-direction: column;
 text-align: center;
}

 .app_signup >input{
  margin: 5px;
  padding: 10px;
} 

.app_loginContainer >button{
  justify-content: space-between;
	background-color:rgb(247, 240, 240);
	border-radius:6px;
	border:1px solid lightgray;
	display:inline-block;
	cursor:pointer;
  padding: 8px;
	font-size:14px;
  margin: 5px;
  font-weight: 100;
}
.logOut{
  background-color:rgb(247, 240, 240);
	border-radius:6px;
	border:1px solid lightgray;
  cursor:pointer;
  padding: 8px;
	font-size:14px;
  margin: 5px;
  font-weight: 100;
}
